body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
  }

  header {
    background-image: url('./k8I1VTJ\ -\ Imgur.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 27rem 0;
    padding-bottom: 40rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #222;
    text-align: center;
    padding: 1rem 0;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
  }

  nav a:hover {
    color: #9933ff;
  }



  .container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #222;
    border-radius: 8px;
  }

  h1 {
    font-size: 7rem;
    margin-top: 7px;
    margin-bottom: 0rem;
    color: white;
  }
  
  .header {
    margin-top: 0;
    margin-bottom: 477;
  }

  p {
    margin-bottom: 2rem;
    font-size: 1.6rem;
  }

  .cta-button {
    display: inline-block;
    padding: 1.2rem 2.5rem;
    background-color: #9933ff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1.4rem;
  }

  .section {
    margin-bottom: 6rem;
    border-bottom: 1px solid #444;
    padding-bottom: 2rem;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  

  .background-image {
    background-image: url('./k8I1VTJ\ -\ Imgur.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  h2 {
    font-size: 43px;
  }